{%load static%}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edumark | {%block title%} {%endblock title%}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %} ">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %} ">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %} ">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %} ">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %} ">
    <link rel="stylesheet" href="{% static 'css/animate.css' %} ">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %} ">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <!-- <link rel="stylesheet" href="{% static 'css/responsive.css' %} "> -->
</head>

<body>
{%include 'parts/header.html'%}
{%block content%} {%endblock content%}
{%include 'parts/footer.html'%}

<!-- form itself end-->
<form id="test-form" method="POST" class="white-popup-block mfp-hide">
    {%csrf_token %}
    <div class="popup_box ">
        <div class="popup_inner">
            <div class="logo text-center">
                <a href="#">
                    <img src="{% static 'img/form-logo.png' %}" alt="">
                </a>
            </div>
            {% include 'parts/messages.html'%}
            <h3>Sign in</h3>

                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <input type="text" placeholder="Enter username " name="username" required >
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input type="password" placeholder="Password" name="password" required >
                    </div>
                    <div class="col-xl-12">
                        <button type="submit" class="boxed_btn_orange" name="lobtn">Sign in</button>
                    </div>
                </div>
            <p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#test-form2">Sign Up</a>
            </p>
        </div>
    </div>
</form>
<!-- form itself end -->

<!-- form itself end-->
<form id="test-form2" method="POST" class="white-popup-block mfp-hide">
    {%csrf_token%}
    <div class="popup_box ">
        <div class="popup_inner">
            <div class="logo text-center">
                <a href="#">
                    <img src="{% static 'img/form-logo.png' %}" alt="">
                </a>
            </div>
            {%include 'parts/messages.html' %} 

            <h3>Resistration</h3>

        <div class="row">
        </div>
        <div class="col-xl-12 col-md-12">
            <input type="text" placeholder="Username" name="username" required>
        </div>
            <div class="col-xl-12 col-md-12">
                <input type="email" placeholder="Enter email" name="email" required>
            </div>
            <div class="col-xl-12 col-md-12">
                <input type="text" placeholder="Address" name="address" required >
            </div>
            <div class="col-xl-12 col-md-12">
                <input type="password" placeholder="Password" name="password" required >
            </div>
            <div class="col-xl-12 col-md-12">
                <input type="Password" placeholder="Confirm password" name="confirmpassword" required >
            </div>
            <div class="col-xl-12">
                <button type="submit" name="rebtn" class="boxed_btn_orange">Sign Up</button>
                    </div>
                </div>

        </div>
    </div>
</form>
<!-- form itself end -->


<!-- JS here -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/ajax-form.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/scrollIt.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/gijgo.min.js' %}"></script>

<!--contact js-->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
</body>

</html>